<!-- ============================================ -->
<!--                 FOOTER                       -->
<!-- ============================================ -->
<footer id="footer">
    <div class="container">
        <div class="content"> 
            <div class="top-footer">
                <a href="/" aria-label="back to home"> <img class="footer-logo" src="/assets/svgs/logo-square.svg" alt="SPS logo" loading="lazy" decoding="async" width="300" height="140" data-img2picture-ignore></a>
            </div>
            <div>
                <ul>
                    <li><h2>More Info</h2></li>
                    <li><a href="/" class="hover-highlight">Home</a></li>
                    <li><a href="/about-safe-pack-and-store/" class="hover-highlight">About Us</a></li>
                    <li><a href="/contact-us/" class="hover-highlight">Contact Us</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><h2>Quick Links</h2></li>
                    <li><a href="/policy-holders-moving-services/" class="hover-highlight">Policyholders</a></li>
                    <li><a href="/carriers-moving-services/" class="hover-highlight">Carriers</a></li>
                    <li><a href="/vendor-program/" class="hover-highlight">Vendor Program</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><h2>Contact Us</h2></li>
                    <li class="contact-v2">
                        <a href="mailto:{{client.email}}">
                            <img loading="lazy" aria-hidden="true" decoding="async" src="/assets/svgs/mail.svg" alt="mail icon" width="48" height="48" data-img2picture-ignore>
                            <div class="hover-highlight">{{client.email}}</div>
                        </a>
                    </li>
                    <li class="contact-v2">
                        <a href="tel:{{client.phoneForTel}}">
                            <img loading="lazy" aria-hidden="true" decoding="async" src="/assets/svgs/phone.svg" alt="phone icon" width="48" height="48" data-img2picture-ignore>
                            <span class="hover-highlight">{{client.phoneFormatted}}</span>
                        </a>
                    </li>
                    <li class="contact-v2">
                        <a href="/contact-us/">
                            <img loading="lazy" aria-hidden="true" decoding="async" src="/assets/svgs/pin.svg" alt="pin icon" width="48" height="48" data-img2picture-ignore>
                            <span class="hover-highlight">{{client.address.lineOne}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="credit">
            <span>
                © Copyright <span id="current-year"></span> - Designed & Developed by
                <a href="https://www.tacomawebdesignandseo.com/" class="hover-highlight" target="blank">Tacoma Web Design and SEO</a>
            </span>
        </div>
    </div>
</footer>