<!-- ============================================ -->
<!--                 FOOTER                       -->
<!-- ============================================ -->
<footer id="footer">
    <div class="container">
        <div class="content"> 
            <div class="top-footer">
                <a class="logo" href="/"> <img src="/assets/svgs/logo-square.svg" loading="lazy" decoding="async" alt="logo" width="240" height="150"></a>
            </div>

            <div>
                <ul>
                    <li><h2>Quick Links</h2></li>
                    <li><a href="/" class="hover-highlight">Home</a></li>
                    <li><a href="/about/" class="hover-highlight">About Us</a></li>
                    <li><a href="/first/" class="hover-highlight">First Service</a></li>
                    <li><a href="/first/" class="hover-highlight">Second Service</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><h2>Contact</h2></li>
                    <li>
                        <a class="footer-icon" href="{{client.address.mapLink}}">
                            <img loading="lazy" aria-hidden="true" decoding="async" src="/assets/svgs/pin.svg" alt="phone icon" width="17" height="23">
                            <span class="hover-highlight pin-icon">{{client.address.lineOne}}<br> {{client.address.city}}, {{client.address.state}} {{client.address.zip}}</span>
                        </a>
                    </li>
                    <li>
                        <a class="footer-icon" href="tel:{{client.phoneForTel}}">
                            <img loading="lazy" aria-hidden="true" decoding="async" src="/assets/svgs/phone.svg" alt="phone icon" width="21" height="21">
                            <span class="hover-highlight">{{client.phoneFormatted}}</span>
                        </a>
                    </li>
                    <li>
                        <a class="footer-icon" href="mailto:{{client.email}}">
                            <img loading="lazy" aria-hidden="true" decoding="async" src="/assets/svgs/mail.svg" alt="email icon" width="21" height="15">
                            <span class="hover-highlight">{{client.email}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    
        <div class="credit">
            <span class="copyright">
                © Copyright <span id="current-year"></span> - Designed & Developed by
                <a href="https://www.tacomawebdesignandseo.com/" class="hover-highlight" target="blank">Tacoma Web Design and SEO</a>
            </span>
        </div>
    </div>
</footer>