---
title: 'Contact'
description: 'Meta description for the page'
keywords: 'test, example'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="">
            <source media="(min-width: 601px)" srcset="">
            <img aria-hidden="true" decoding="async" src="" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

{% endblock %}