---
title: 'title text here'
description: 'description here'
keywords: 'test, example'
preloadImg: ''
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}
{% from "components/cta.html" import cta %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/critical-above-fold.css">
    <link rel="stylesheet" href="/assets/css/home.css" media="print" onload="this.media='all'; this.onload=null;">
    <noscript>
        <link rel="stylesheet" href="/assets/css/home.css">
    </noscript>
    <link rel="stylesheet" href="/assets/css/components.css">

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                home-hero                 -->
    <!-- ============================================ -->
    <section id="home-hero">
        <div class="cs-container">
            <div class="home-content">
                <h1 class="cs-hero-title">
                    Tacoma Web Design and SEO: Boost Your Online <span class="text-highlight">Presence</span>
                </h1>
                <p class="cs-text">In the digital age, a well-designed website is crucial for business success.</p>
                <p class="cs-text button-below">At Tacoma Website Design and SEO, we specialize in crafting unique, user-friendly websites that attract and retain customers. Elevate your online presence with us.</p>
                <a href="/contact/" class="button-solid">Contact Us</a>
            </div>
        </div>
    </section>

{% endblock %}